<div class="container-fluid">
    <div class="row odd titre-row">Filtre :</div>
    <div class="row odd">
        <input [(ngModel)]="filtre" class="filtreCompetences" (change)="recherche()" />
    </div>

    <div class="row even titre-row" *ngIf="!!libelleCompletCompetenceSelectionnee">Compétence sélectionnée :</div>
    <div class="row even" *ngIf="!!libelleCompletCompetenceSelectionnee">{{libelleCompletCompetenceSelectionnee}}</div>

    <!-- https://github.com/500tech/angular-tree-component -->
    <div class="row">
        <tree-root [nodes]="noeuds">
            <ng-template #treeNodeTemplate let-node let-index="index">
                <div (click)="onActivationDunNoeud(node.data.id)">
                    <span class="level{{node.level}}">{{node.level}}</span>&nbsp;
                    <span id="competence{{index}}">{{ node.data.name }}</span>
                </div>
            </ng-template>
        </tree-root>
    </div>
</div>