<!-- Boutons d'action -->
<div class="actions">
    <em class="fa fa-arrow-left" matTooltip="Retour au tableau de bord" (click)="retour()"></em>
    <em class="fa fa-print" matTooltip="Imprimer les données" (click)="imprimerLaPage()"></em>
</div>

<!-- Page à imprimer -->
<div class="edition" *ngIf="lignes.length > 0 && !!eleve && !!periode">
    <div class="entete">
        <div class="logoEN">
            <img alt="logoEducationNationale" src="./assets/images/logoEducationNationale.png" />
        </div>
        <div class="enteteEN" [innerHTML]="entete"></div>
        <div class="designation">
            <div class="anneeScolaire">Année scolaire {{anneeScolaire}}</div>
            <div class="eleve">Eleve : {{eleve.prenom}} {{eleve.nom}}</div>
            <div class="naissance">Né le : {{eleve.dateNaissance | date:'dd:MM:yyyy'}}</div>
            <div class="enseignant(e)">Enseignant(e) : {{enseignant}}</div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="titre">
        <div class="sstitre1">Bilan des acquis scolaires de l’élève</div>
        <div class="sstitre2">Période {{periode.id}} du {{periode.debut | date:'dd:MM:yyyy'}} au {{periode.fin | date:'dd:MM:yyyy'}}</div>
    </div>
    <div class="titreBleu">Suivi des acquis scolaires de l'élève</div>

    <table>
        <thead>
            <tr>
                <th [attr.colspan]="nbLibellesNote + 3">Acquis scolaires</th>
            </tr>
            <tr>
                <th rowspan="2">Domaine d'enseignement</th>
                <th rowspan="2">Principaux éléments du programme travaillés durant la période</th>
                <th rowspan="2">Acquisitions, progrès et difficultés éventuelles</th>
                <th [attr.colspan]="nbLibellesNote">
                    <span>Positionnement</span>
                    <br/>
                    <span>Objectifs d'apprentissage</span>
                </th>
            </tr>
            <tr>
                <th *ngFor="let libelle of libellesNote | attributesToMap" class="text-vertical" style="height: 160px;">
                    <span>{{libelle.val}}</span>
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let ligne of lignes">
            <tr *ngFor="let ssLigne of ligne.sousLignes; let i = index">
                <td *ngIf="i == 0" [attr.rowspan]="ligne.sousLignes.length">{{ligne.nomDomaine}}</td>
                <td>{{ssLigne.competence.text}}</td>
                <td>
                    <span *ngIf="!!ssLigne.constatation">{{ssLigne.constatation.commentaire}}</span>
                </td>
                <td *ngFor="let libelle of libellesNote | attributesToMap">
                    <span *ngIf="!!ssLigne.constatation && libelle.key === ssLigne.constatation.valeur">x</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>