<!-- Boutons d'action -->
<div class="actions">
    <em class="fa fa-2x fa-print" mdTooltip="Imprimer les données" (click)="imprimerLaPage()"></em>
</div>

<!-- Page à imprimer -->
<div class="edition">
    <div class="barre">
        <div class="entete" [innerHTML]="entete"></div>
        <div class="titre">
            <h1>{{titreCourt}}</h1>
        </div>
        <div class="annee">
            <div>{{anneeScolaire}}<br/>{{nomPeriode}}</div>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Domaine</th>
                <th>Compétence</th>
                <th>Constat sur la période précédente</th>
                <th>Modalité d'aide pour la période</th>
            </tr>
        </thead>
        <!--Une ligne principale avec la première colonne et un rowspan-->
        <tbody *ngFor="let ligne of lignes">
            <tr *ngFor="let ssLigne of ligne.sousLignes; let i = index">
                <td class="" *ngIf="i == 0" [attr.rowspan]="ligne.sousLignes.length">{{ligne.nomDomaine}}</td>
                <td class="">{{ssLigne.competence.text}}</td>
                <td class="" *ngIf="i == 0" [attr.rowspan]="ligne.sousLignes.length">{{ligne.aide}}</td>
                <td class="" *ngIf="i == 0" [attr.rowspan]="ligne.sousLignes.length">{{ligne.constat}}</td>
            </tr>
        </tbody>
    </table>
</div>