<h2 mat-dialog-title>Recherche de compétences par texte</h2>

<div class="row odd titre-row">Filtre</div>
<div class="row odd">
	<input [(ngModel)]="filtreLibelleCompetence" name="filtreLibelleCompetence" class="inputFiltre" />
	<button class="button" (click)=rechercher()>Rechercher</button>
</div>

<div class="row even titre-row">Compétences correspondantes :</div>
<div class="row even listeResultats">
	<mat-radio-group [(ngModel)]="idCompetenceSelectionnee">
		<div class="col-12">
			<div *ngFor="let c of competencesTrouvees; let j = index" [class]="j%2==0 ? 'row even' : 'row odd'">
				<div class="col-12">
					<mat-radio-button value="{{c.id}}">
					</mat-radio-button>
					<span>{{c.text}}</span>
				</div>
			</div>
		</div>
	</mat-radio-group>
</div>

<button class="button" (click)=selectionner()>Fermer</button>