<h2 mat-dialog-title>Recherche de compétences par texte</h2>

<div class="row odd titre-row">Filtre</div>
<div class="row odd">
	<input [(ngModel)]="filtreLibelleCompetence" name="filtreLibelleCompetence" />
</div>

<div class="row even titre-row">Compétences correspondantes :</div>
<div class="row even listeResultats">
	<mat-radio-group [(ngModel)]="idCompetenceSelectionnee">
		<ul>
			<li *ngFor="let c of competencesTrouvees">
				<mat-radio-button value="{{c.id}}">
				</mat-radio-button>
				<span>{{c.text}}</span>
			</li>
		</ul>
	</mat-radio-group>
</div>

<button class="button" (click)=selectionner()>Fermer</button>