<div id="page">
	<md-sidenav-container>
		<md-sidenav #sidenav class="example-sidenav">
			<div-selecteurstyle></div-selecteurstyle>
		</md-sidenav>
		<div id="entete">
			<div id="entete-logo">
				<img src="./assets/images/logo.png" alt="logo" (click)="rechargerPage()" />
			</div>
			<div id="entete-titre">
				<h1>Application de gestion de ma classe</h1>
			</div>
			<div id="entete-actions">
				<em class="fa fa-2x fa-thermometer-half" md-button (click)="sidenav.open()"></em>
				<em class="fa fa-2x fa-question-circle" md-button routerLink="/tab-aide-route"></em>
				<br/>
				<div-sauvegarde></div-sauvegarde>
			</div>
		</div>
	</md-sidenav-container>

	<div id="menu">
		<nav md-tab-nav-bar>
			<a *ngIf="!!anneeChargee" md-tab-link routerLink="/tab-competence-route" class="navCompetence" routerLinkActive="active">Compétences</a>
			<a *ngIf="!!anneeChargee" md-tab-link routerLink="/tab-eleve-route" class="navEleve" routerLinkActive="active">Elèves</a>
			<a *ngIf="!!anneeChargee" md-tab-link routerLink="/tab-tableaudebord-route" class="navTdb" routerLinkActive="active">Tableau de bord</a>
			<a *ngIf="!!anneeChargee" md-tab-link routerLink="/tab-journal-route" class="navJournal" routerLinkActive="active">Cahier journal</a>
			<a *ngIf="!!anneeChargee" md-tab-link routerLink="/tab-taches-route" class="navTaches" routerLinkActive="active">Tâches</a>
		</nav>
	</div>

	<div id="contenu" *ngIf="anneChargeeOuSansDonnees">
		<router-outlet></router-outlet>
	</div>
</div>