#page { width:1400px; margin:auto; }
#entete { height: 90px; margin: 0px 3px 0px 3px; }
#entete-titre { float: left; text-align: center; color: white; height: 100%; font-size: 15px; line-height: 40px; width: 1250px; }
#entete-actions { float: right; width: 125px; height: 100%; padding-top: 10px; text-align: right; }
#contenu { width:100%; margin-top:15px; }


nav a { padding: 5px 10px; text-decoration: none; margin-right: 10px; margin-top: 10px; display: inline-block; border-radius: 4px; }
nav a:visited, a:link { color: #607D8B; }
nav a:hover { color: #039be5; background-color: #CFD8DC; }
nav a.active { color: white; background-color: #6b6159; font-weight: bold; }

.mat-sidenav-container { height: 120px; background: none; }
