<h2 md-dialog-title>Evaluation et préparation d'un domaine</h2>

<md-dialog-content>
	<fieldset *ngIf="!ligne.idDomaine">
		<legend>Sélection du domaine :</legend>
		<compo-competence [note]="premiereNote" [lectureSeule]="false" [profondeurMaximaleAutorisee]=4></compo-competence>
		<br/><em class="fa fa-check fa-2x" (click)="validerDomaine()"></em>
	</fieldset>
	<fieldset *ngIf="!!ligne.idDomaine">
		<legend>Domaine :</legend>
		{{ligne.nomDomaine}}
	</fieldset>
	<br/>
	<fieldset *ngIf="!!ligne.idDomaine">
		<legend>Evaluations sur la période évaluées :</legend>
		<textarea [(ngModel)]="ligne.constat" name="constat" placeholder="Constat sur la période évaluée" rows="8" cols="80"></textarea>
		<br/>
		<table class="ligneTableauDeBord">
			<thead>
				<tr>
					<th>Elément du programme évalué</th>
					<th>Positionnement et objectif d'apprentissage</th>
					<th><span>Acquisition, progrès et difficultés</span></th>
					<th><em class="fa fa-plus-circle" (click)="ajouterLigneProgrammeEvalue()"></em></th>
				</tr>
			</thead>
			<tbody *ngFor="let sousLigne of ligne.sousLignes; let i = index">
				<tr *ngIf="sousLigne.constatation">
					<td>
						<compo-competence [idCompetenceRacine]="ligne.idDomaine" [note]="sousLigne.constatation" [lectureSeule]="false"></compo-competence>
					</td>
					<td>
						<compo-note [note]="sousLigne.constatation" [lectureSeule]="false"></compo-note>
					</td>
					<td>
						<textarea [(ngModel)]="sousLigne.constatation.commentaire" name="commentaire" rows="2" cols="20"></textarea>
					</td>
					<td>
						<em class="fa fa-remove" mdTooltip="Reporter cette note" (click)="supprimerSousLigneProgrammeEvalue(sousLigne)"></em>
						<em class="fa fa-magic" mdTooltip="Reporter la compétence dans les compétences à travailler à la prochaine période" (click)="reporteSousLigneDansPeriodePreparee(sousLigne)"></em>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
	<br/>
	<fieldset *ngIf="!!ligne.idDomaine">
		<legend>Préparation pour la période préparée :</legend>
		<textarea [(ngModel)]="ligne.aide" name="aide" placeholder="Aide pour la période préparée" rows="8" cols="80"></textarea>
		<br/>
		<table class="ligneTableauDeBord">
			<thead>
				<tr>
					<th>Elément du programme à travailler</th>
					<th><em class="fa fa-plus-circle" (click)="ajouterLigneProgrammeTravaille()"></em></th>
				</tr>
			</thead>
			<tbody *ngFor="let sousLigne of ligne.sousLignes; let i = index">
				<tr *ngIf="sousLigne.aide">
					<td>
						<compo-competence [idCompetenceRacine]="ligne.idDomaine" [note]="sousLigne.aide" [lectureSeule]="false"></compo-competence>
					</td>
					<td>
						<em class="fa fa-remove" (click)="supprimerSousLigneProgrammeTravaille(sousLigne)"></em>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
</md-dialog-content>

<md-dialog-actions>
	<button class="button" md-dialog-close>Fermer</button>
</md-dialog-actions>