.filtres md-chip { margin-bottom: 5px; }
.filtres md-chip.filtreSelectionne { color: white; background-color: #6b6159; font-weight: bold; }

table.tableauDeBord th { font-size: 14px; background-color: lightblue; }
table.tableauDeBord td { font-size: 12px; }
table.tableauDeBord td.periodeEvaluee { background-color:#f2f599; }
table.tableauDeBord td.domaine { background-color:#ffab00; }
table.tableauDeBord td.periodePreparee { background-color:lightgreen; }
