
<!-- Filtres -->
<md-chip-list class="filtres" [selectable]="true">
	<md-chip *ngFor="let eleve of eleves" (click)="onSelectEleve(eleve)" [class.filtreSelectionne]="eleve === eleveSelectionne">{{eleve.nom}} {{eleve.prenom}}</md-chip>
</md-chip-list>
<md-chip-list class="filtres" [selectable]="true">
	<md-chip *ngFor="let periode of periodes" (click)="onSelectPeriode(periode)" [class.filtreSelectionne]="periode === periodeSelectionnee">{{periode.nom}}</md-chip>
</md-chip-list>

<!-- Formulaire de modification -->
<div *ngIf="eleveSelectionne && periodeSelectionnee" class="">
	<table class="tableauDeBord">
		<thead><tr>
			<th>Elément du programme évalué</th>
			<th>Positionnement et objectif d'apprentissage</th>
			<th>Nom du domaine</th>
		</tr></thead>
		<tbody *ngFor="let ligne of lignes">
			<tr *ngFor="let sousLigne of ligne.sousLignes">
				<td>{{sousLigne.competence.text}}</td>
				<td><span *ngFor="let note of sousLigne.constatations">{{note.valeur}} </span>
				<td>{{ligne.nomDomaine}}</td>
			</tr>
		</tbody>
	</table>
</div>
