.listeEleves mat-chip { margin-bottom: 5px; }
.listeEleves mat-chip.eleveSelectionne { color: white; background-color: #6b6159; font-weight: bold; }

ckeditor { display: inline-flex; }

div.actions { float: right; }
.fa { font-size: 20px!important; }