<h3>Liste des élèves</h3>
<ul class="listeEleves">
	<li *ngFor="let eleve of eleves" (click)="onSelectEleve(eleve)" [class.eleveSelectionne]="eleve === eleveSelectionne">{{eleve.nom}} {{eleve.prenom}}</li>
</ul>

<div *ngIf="eleveSelectionne">
	<h2>Détails de l'élève {{eleveSelectionne.nom}} {{eleveSelectionne.prenom}}</h2>
  
	<fieldset>
		<legend>Elève</legend>
		<label for="nom">Nom</label><input [(ngModel)]="eleveSelectionne.nom" name="nom" />
		<br/><label for="prenom">Prénom</label><input [(ngModel)]="eleveSelectionne.prenom" name="prenom" />
		<br/><label for="dateNaissance">Date de naissance</label><input [(ngModel)]="eleveSelectionne.dateNaissance" name="dateNaissance" type="date" />
	</fieldset>
	<fieldset>
		<legend>Famille</legend>
		<label for="pere">Père</label><input [(ngModel)]="eleveSelectionne.pere" name="pere" />
		<br/><label for="mere">Mère</label><input [(ngModel)]="eleveSelectionne.mere" name="mere" />
		<br/><label for="fratrie">Fratrie</label><input [(ngModel)]="eleveSelectionne.fratrie" name="fratrie" />
	</fieldset>
	<fieldset>
		<legend>Contacts</legend>
		<label for="adresses">Adresses</label><input [(ngModel)]="eleveSelectionne.adresses" name="adresses" />
		<br/><label for="telephones">Téléphones</label><input [(ngModel)]="eleveSelectionne.telephones" name="telephones" type="tel" />
	</fieldset>
</div>