.listeEleves md-chip { margin-bottom: 5px; }
.listeEleves md-chip.eleveSelectionne { color: white; background-color: #6b6159; font-weight: bold; }

.formulaireEleve .famille textarea { width: 24%; height: 100px; }
.formulaireEleve .contacts textarea { width: 24%; height: 100px; }
.formulaireEleve .dateBilans textarea { width: 32%; height: 200px; }

ckeditor { display: inline-flex; }
