.consigne { margin: 20px 0px; }
.consigneCreation { margin: 20px 0px; }
fieldset { margin-right: 10px; }
.donneesAdministrative input { width: 250px; margin: 10px; }
.donneesPeriodes input { width: 90px; }
button { margin: 20px; }