@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* global */
body { background-color:lightgray; font:12px/18px Arial,sans-serif; }
textarea { font-family: Roboto,"Helvetica Neue",sans-serif; }

/* formulaire */
.button {
	background: #d0e5f5 url("./assets/images/bouton-fond.png") 50% 50% repeat-x; 
	border: 1px solid #79b7e7; border-radius: 5px; 
	font-weight: bold; color: #1d5987; padding: 5px 20px; 
}
label { margin: 0px 10px 0px 20px; }
.mat-select { width: 300px; }
.mat-select-trigger { font-size: 13px; }
.mat-input-element { text-align: center; }
.mat-option { line-height: 30px; height: 30px; }

/* tableaux de l'application */
table { width: 100%; }
th { height: 35px; font-size: 14; background-color: #CFD8DC; background-image: linear-gradient(to bottom,#f5f5f5,#CFD8DC) }
td { font-size: 12; padding: 5px 0px; }

/* validation */
.alert-danger {background-color: red; color: white; font-size: 15px; line-height: 25px; padding: 5px; margin-right: 10px; }
.mat-select.ng-dirty:not(.filtre) .mat-select-value { color: blue; }
input.ng-dirty:not(.filtre) { color: blue; }
textarea.ng-dirty { color: blue; }
.ng-valid[required], .ng-valid.required  { border-left: 5px solid #42A948; }
.ng-invalid:not(form)  { border-left: 5px solid #a94442; }

/* Ck Editor */
.cke_top { background-color: #CFD8DC; background-image: linear-gradient(to bottom,#f5f5f5,#CFD8DC) }
.cke_botton { padding: 0px 8px 0px; }

/* Petit boutons */
.fa { cursor: pointer; }

/** Multi style ! */
body.sobre {background-image: none; }
body.sobre #page { background-color:white; }
body.sobre #entete { background-image:url('./assets/images/entete-fond.png'); }
body.sobre #entete-titre { color: darkblue; }

body.dynamique { background-image: url('./assets/images/fond.jpg'); }
body.dynamique #contenu { opacity: 0.95; background-color: white; }
