@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* global */
body { background-color:lightgray; font:12px/18px Arial,sans-serif; }

/* formulaire */
button {
	background: #d0e5f5 url("./assets/images/bouton-fond.png") 50% 50% repeat-x; 
	border: 1px solid #79b7e7; border-radius: 5px; 
	font-weight: bold; color: #1d5987; padding: 5px 20px; 
}
label { margin: 0px 10px 0px 20px; }
.mat-select { width: 300px; }
.mat-select-trigger { font-size: 13px; }

/* validation */
.alert-danger {background-color: red; color: white; font-size: 15px; line-height: 25px; padding: 5px; margin-right: 10px; }
.ng-dirty .mat-select-value { color: blue; }
input.ng-dirty { color: blue; }
.ng-valid[required], .ng-valid.required  { border-left: 5px solid #42A948; }
.ng-invalid:not(form)  { border-left: 5px solid #a94442; }
